.container {
  z-index: 1;
  height: calc(100vh - 3rem);
  padding: 1.5rem 2rem;
  padding-bottom: 0;
}

.wrapper {
  display: flex;
  max-width: 1312px;
  gap: 100px;
}

@media (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
    gap: 3rem;
  }
}
