.wrapper {
  min-width: 80vw;
  position: absolute;
  right: 0;
  bottom: 5rem;
  display: none;
}

.wrapper a {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .wrapper {
    display: block;
  }
}
