.wrapper {
  min-width: 80vw;
  display: none;
  justify-content: flex-end;
  margin-top: 0;
}

.wrapper a {
  text-decoration: underline;
}

.wrapper svg {
  min-width: 82vw;
  max-width: 82vw;
}

@media (max-width: 600px) {
  .wrapper {
    display: flex;
  }
}
