@use "styles/variables" as *;

.footer {
  width: 100vw;
  height: 3rem;
  display: flex;
  background: $cool-gray-100;
}

.logoWrapper {
  padding: 0 2rem;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: 1px 0;
  height: 1.45rem;
  max-width: 100%;
  filter: invert(1);
}

@media (max-width: 600px) {
  .logoWrapper {
    padding-left: 1rem;
    padding-bottom: 8px;
  }
}
