.wrapper {
  width: 100%;
  max-width: 900px;
  padding-right: 2rem;
}

.wrapper a {
  font-size: 20px;
  font-weight: 400;
  transition: fill 0.15s ease;
}

.wrapper a:hover {
  text-decoration-line: underline;
  fill: #0f62fe;
}

.years text {
  font-size: 14px;
  font-weight: 500;
}

.full {
  opacity: 0;
  transition: opacity 500ms ease;
  pointer-events: none;
}

.segment {
  opacity: 0;
  transition: opacity 300ms ease;
}

.segment:hover {
  opacity: var(--opacity);
  cursor: pointer;
}

.technology:has(text:hover) .full {
  opacity: 1;
}

.base,
.nodes,
.years {
  pointer-events: none;
}

.hoverNodes {
  opacity: 0;
  transition: opacity 0.15s ease;
}

.technology:has(a:hover) .hoverNodes,
.technology:has(.segment:hover) .hoverNodes {
  opacity: 1;
}

.tooltip {
  background-color: #f2f4f8 !important;

  padding: 1rem !important;
  opacity: 1 !important;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));

  &::after {
    background-color: #f2f4f8 !important;
  }

  p {
    font-size: 14px;
    line-height: 18px;
    color: #121619;
  }
}

.tooltipHeading {
  font-weight: bold;
}

.tooltipBody {
  max-width: 250px;
}

@media (max-width: 1024px) {
  .wrapper {
    max-width: 85vw;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .wrapper {
    display: none;
  }
}
