.full {
  opacity: 0;
  transition: opacity 0.15s ease;
}

.wrapper text {
  font-size: 20px;
  font-weight: 400;
}

.wrapper a:hover {
  text-decoration: underline;
}

.years text {
  font-size: 14px;
  font-weight: 500;
}

.segment {
  opacity: 0;
  transition: opacity 0.15s ease;
}

.segment:hover {
  opacity: var(--opacity);
  cursor: pointer;
}

.technology:has(a:hover) .full {
  opacity: 1;
}
