@use "styles/variables" as *;

:root {
  --color-text: #{$cool-gray-70};
  --color-heading: #{$cool-gray-100};
  --color-background: #{$white};
  --color-link: #{$blue-60};
  --color-link-hover: #{blue-70};
  --color-border: #{$cool-gray-20};
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #{$cool-gray-30};
    --color-heading: #{$cool-gray-10};
    --color-background: #{$cool-gray-100};
    --color-link: #{$blue-40};
    --color-link-hover: #{$blue-30};
    --color-border: #{$cool-gray-80};
    --color-layer: #{$cool-gray-90};
    --color-layer-hover: #{$cool-gray-80};
  }
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

body {
  padding-top: 3rem;
  overscroll-behavior: contain;
}

pre {
  white-space: pre-wrap;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
