.heading {
  font-weight: 300;
  margin-bottom: 2rem;
}

.heading span {
  color: #0f62fe;
}

.subheading {
  max-width: 300px;
  font-weight: 400;
  color: #4d5358;
}

@media (max-width: 900px) {
  .text {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.wrapper {
  display: flex;
  gap: 200px;
}

@media (max-width: 900px) {
  .wrapper {
    flex-direction: column;
    gap: 0;
  }
}
