.heading {
  font-weight: 300;
  margin-bottom: 2rem;
}

.heading span {
  color: #0f62fe;
}

.subheading {
  max-width: 300px;
  font-weight: 400;
  color: var(--color-heading);
}

.wrapper {
  display: flex;
}

.text {
  margin-right: 4rem;
}

@media (max-width: 900px) {
  .text {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .wrapper {
    flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 600px) {
  .heading {
    display: none;
  }
  .subheading {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;
  }
  .text {
    margin-right: 0;
  }
}
